body{
    background-color: #f1f3f5;
    font-family: Arial, sans-serif;
}

/* Card Image */
.card img{
    height: 220px;
    object-fit: cover;
}

/* Card Hover Effect */
.card{
    transition: 0.3s;
}

.card:hover{
    transform: translateY(-8px);
}

/* Navbar */
.navbar-brand{
    font-weight: bold;
}

/* Footer */
footer{
    font-size: 14px;
}